{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="/edit" method="post">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Restaurant's name" value="{{restaurant.name}}">
                <input type="hidden" name="id" value="{{restaurant.id}}">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}